<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;dashboard
        </a>
        <a [routerLink]="['/jobs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-tasks"></i> &nbsp;Jobs
        </a>
        <a [routerLink]="['/jobs/new']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.username">
            <i class="fa fa-plus"></i> &nbsp;New Job
        </a>
        <a [routerLink]="['/resources']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i> &nbsp;Resources
        </a>
    </ul>
</nav>