<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Oar Skylight</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">


            <form (ngSubmit)="search()" class="form-inline my-2 my-lg-0" *ngIf="user.username">
                <input class="form-control" type="search" placeholder="Search by id" id="navbar-search-input" name="searchInput" [(ngModel)]="searchInput">
            </form>

            <!--
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
            -->
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">

                <li class="nav-item dropdown" ngbDropdown *ngIf="user.username">
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Pending Task <span class="badge badge-info">6</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">In queue <span class="badge badge-info"> 13</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">Mail <span class="badge badge-info"> 45</span></a>
                        <li class="dropdown-divider"></li>
                        <a href="javascript:void(0)" class="dropdown-item">View All</a>
                    </ul>
                </li>
                <li class="nav-item dropdown" ngbDropdown *ngIf="user.username">
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{ user.username }}<b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        <a class="dropdown-item" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </div>
                </li>
                <li class="nav-item" *ngIf="! user.username">
                    <button (click)="login()" class="btn btn-success">Login</button>
                </li> &nbsp;
            </ul>
        </div>
    </nav>
</div>