<div class="modal-header">
    <h4 class="modal-title">File Manager</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h1></h1>

    <app-fm-breadcrumb (goTo)="getDirectory($event)" [uri]="uri">
    </app-fm-breadcrumb>

    <table class="table table-striped" [mfData]="folderItems | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th style="width: 5%">
                    <mfDefaultSorter by="type">Type</mfDefaultSorter>
                </th>
                <th style="width: 65%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="mtime">Last updated</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="size">Size</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    Action
                </th>
            </tr>

            <tr>
                <th colspan="5">
                    Filter by name:
                    <input class="form-control" [(ngModel)]="filterQuery" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="mf.data.length == 0">
                <td colspan="5">
                    <p>There's nothing here ...</p>
                </td>
            </tr>
            <tr *ngFor="let item of mf.data" [class.table-active]="item === selectedFile">
                <td (click)="onClickItem(item)" class="pointer type">
                    <i class="fa fa-folder-o" aria-hidden="true" *ngIf="item.type == 'd'"></i>
                    <i class="fa fa-file" aria-hidden="true" *ngIf="item.type == 'f'"></i>
                </td>
                <td (click)="onClickItem(item)" class="pointer">{{item.name}}</td>
                <td (click)="onClickItem(item)" class="pointer">{{item.mtime | date:'jms' }}</td>
                <td (click)="onClickItem(item)" class="pointer">{{item.size}}<span *ngIf="item.size"> ko</span></td>
                <td>
                    <button class="btn btn-danger" (click)="deleteItem(item)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>

            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-success">Add to this Folder</button>
                </td>
                <td colspan="3">
                </td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal-footer">

    <button type="button" class="btn" [disabled]="!selectedFile" (click)="selectFile(selectedFile)">Select File</button>
</div>