<div class="loader" [hidden]="handledRequests >= totalJobs">
    <ngb-progressbar type="danger" [animated]="true" [max]="totalJobs" [value]="handledRequests"></ngb-progressbar>
</div>
<div class="wrapper">
    <div class="resource" *ngFor="let resource of resources | keys">
        <div class="name"> {{ resource.key }}</div>
        <div class="cores">
            <ResourceState [jobId]="map[core.id]" [resource]="core" *ngFor="let core of resource.value"></ResourceState>
        </div>
    </div>
</div>